:root {
  --bg-color: #141414;
  --bg-color-for-bttns: #2525259e;
  --border-color: #181818;
  --text-color: #f5f5f5;
  --text-hover: #3e3e3e;
  --border-bg-color: #e7e7e7;
  --bg-color-login: #cc4019;
  --timetable-bg-color: #191a1b;
  --timetable-lecture-bg-color: #3f4041;
}

body {
  background-color: var(--bg-color);
  overflow: hidden;
  font-family: sans-serif;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

#taskbar {
  display: flex;
  align-items: center;
}

#dropdownBtn {
  padding: 1.8vh 2.4vw;
  font-size: 1rem;
  background-color: var(--input-text-color);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#lines {
  margin-right: 10px;
  margin-left: auto;
  border: none;
  width: 3.5dvw;
  height: 3.5dvh;
  transition: transform 0.25s ease;
  cursor: pointer;
  color: var(--text-hover);
}

.dropdownmenu {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: 70px;
}

.dropdownmenu-content {
  display: none;
  position: absolute;
  background-color: var(--text-hover);
  margin-right: 40px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 7px;
  overflow: hidden;
}

.dropdownmenu-content button {
  margin: 1.5px 0 1.5px 0;
  color: var(--text-color);
  padding: 12px 16px;
  background: transparent;
  border: none;
  text-align: left;
  width: 100%;
  display: block;
  cursor: pointer;
}

.dropdownmenu-content button:hover {
  background-color: var(--text-hover);
}

.dropdownmenu:hover .dropdownmenu-content {
  display: block;
}

.dropdownmenu:hover #lines {
  transform: rotate(90deg);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  color: var(--text-color);
  transform: scaleX(-1);
  transition: rotate 0.43s;
  rotate: 0deg;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
  margin-left: 97%;
}

.material-symbols-outlined:hover {
  transition: rotate 0.3s;
  rotate: -50deg;
}

@keyframes fullrotate {
  from {
    transform: rotate(-50deg) scaleX(-1);
  }
  to {
    transform: rotate(-360deg) scaleX(-1);
  }
}
